<!DOCTYPE html>
<html lang="zh-cmn-Hans">
  <head>
    <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	  <meta name="renderer" content="webkit">
	  <meta http-equiv="Cache-Control" content="no-siteapp" />
	   <!--seo 优化-->
	  <meta name="keywords" content="your keywords">
	  <meta name="description" content="your description">
	  <meta name="author" content="author,email address">
	  <meta name="author" content="author,email address">
	  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

	  <title id="title">home</title>
    	<link href="/wantplus/css/want.css" rel="stylesheet" type="text/css"/>
	  <link href="/wantplus/css/want1.2.css" rel="stylesheet" type="text/css"/>

	 
  </head>
  <body >

	<div id="detailswindow" >
		<!--<div id="zezhao" class="want-shade"></div>-->
		<div id="detailsword" class="want-shade-detailsword"></div>
	</div>
 	<nav id="id_want_navbar"></nav>

	<div id="beingsmenu" class="beingsmenu1"></div>
	<div class="mobliezezhao"></div>
	<div class="want-nav-palce"></div>
	<div class="want-whitebox">
		<div class="want-whitebox-details" id="id_white_box" >
			
			<div class="want-whitebox-title">
				<div class="want-whitebox-titlemask"></div>
				<div class="want-whitebox-titlestyle">Gifts with Prime</div>
			</div>

			<div class="want-whitebox-cutline"></div>
			<div class="want-whitebox-gooddesk" id="want_whitebox_gooddesk">
			</div>
		</div>
	</div>
	<div class="want-container">
		<header class="want-container-navtitle">
			<span class="want-nav-recommod">推荐</span>
			<span class="want-nav-padding">新品</span>
			<span class="want-nav-padding">人气</span>
		</header>
		<div id="want_index_container">
		</div>
		<div class="want-clearboth"></div>
	</div>

	<div class="want-bottom-landmore">
		Land more
	</div>

  	<!--javascript-->
    <script type="text/javascript" src="/wantplus/js/jquery.js" ></script>
    <script type="text/javascript" src="/wantplus/js/wantplusUtil.js"></script>
  	<script type="text/javascript" src="/wantplus/js/wantplus.js"></script>
    <script type="text/javascript" src="/wantplus/js/navbar.js"></script>
  	<script type="text/javascript" src="/wantplus/js/maingoodsbox.js"></script>
  

  </body>
</html>
